fastapi==0.119.0
uvicorn[standard]==0.37.0
python-multipart==0.0.20
sqlalchemy==2.0.44
alembic==1.17.0
psycopg2-binary==2.9.11
python-dotenv==1.1.1
pydantic==2.12.2
requests==2.32.5
urllib3==2.5.0
shopifyapi==12.7.0
pandas==2.3.3
numpy==2.2.6